[submodule "certisviewerapp"]
	path = certisviewerapp
	url = git@bitbucket.org:certistsolution/certisviewerapp.git
[submodule "gadgetron"]
	path = gadgetron
	url = git@bitbucket.org:certistsolution/gadgetron.git
[submodule "licensing"]
	path = licensing
	url = git@bitbucket.org:certistsolution/licensing.git
[submodule "anima"]
	path = anima
	url = git@bitbucket.org:certistsolution/anima.git
